{% extends 'base.html' %}
{% block title %}this is title{% endblock title %}
{% block body %}
<!DOCTYPE html>

   
</head>
<body>
    <h1 style="text-align: center; color: red;">ABOUT US:-</h1><br>
    <h2>welcome to about page</h2>
    <h3>This is a basic website  created using <b> html/css/bootstrap</b><br> and some  basic codes of javascript  and framework is using PYTHON(django). </h3>
    <h3><p>This website is for practice purpose only.</p></h3>
   <h1 style="text-align: right;">THANK YOU</h1>

</body>
</html>
  
{% endblock body %}